@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-grotesk;
}

@layer components {
    .container-custom {
        @apply container px-4 mx-auto;
    }

    .text-gradient-primary {
        @apply text-transparent transition-all bg-clip-text;
        background-image: linear-gradient(180deg, #21A2DC 0%, #B221E3 100%);
    }

    .text-gradient-secondary {
        @apply text-transparent transition-all bg-clip-text;
        background-image: linear-gradient(180deg, #F5F5F5 0%, #7C7C7C 100%);
    }

    .btn-primary {
        @apply inline-flex text-white rounded-full;
        background-image: linear-gradient(270deg, #21A2DC 0%, #B221E3 100%);
    }
}