@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-grotesk;
}

@layer components {
    .container-custom {
        @apply container px-4 mx-auto;
    }

    .text-gradient-primary {
        background: linear-gradient(121deg, #21A2DC 0%, #21A2DC 25%, #a315d2 50%, #B221E3 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 5s ease-in-out infinite;
        background-size: 300% 300%;
    }

    @keyframes animate {
        0% {
            background-position: 0% 50%;
        }

        25% {
            background-position: 50% 100%;
        }

        50% {
            background-position: 0% 50%;
        }

        75% {
            background-position: 50% 100%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    .text-gradient-secondary {
        background: linear-gradient(180deg, #F5F5F5 0%, #7C7C7C 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate 2s ease-in-out infinite;
        background-size: 300% 300%;
    }

    .btn-primary {
        @apply inline-flex text-white rounded-full;
        background: linear-gradient(121deg, #21A2DC 0%, #B221E3 100%);
    }

    .card-skill {
        @apply inline-flex items-center justify-center space-x-4 text-lg font-bold text-white p-7 shadow-secondary rounded-xl bg-dark-gray;
    }

    .social {
        @apply p-2 text-black bg-white rounded-full;
    }

    .swiper-wrapper {
        margin-left: 120px;
    }

    @media screen and (max-width: 500px) {
        .swiper-wrapper {
            margin-left: 0px;
        }
    }
}